.recipe{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* gap: 20px; */
}



.recipe .recipeHeroSec{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    /* background-color: white; */
    /* color: black; */
    padding-bottom: 40px;
}

.recipe .recipeHeroSec .recipeHeroSecImg{
    width: 100%;
    height: 35vw;
    border: none;
    overflow: hidden;
    position: relative;
}

.recipe .recipeHeroSec .recipeHeroSecImg .slide{
  inset: 0;
  position: absolute;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.recipe .recipeHeroSec .recipeHeroSecImg .slide.active {
  opacity: 1;
}

.recipe .recipeHeroSec .herosecHeading{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-top: 10px;
}
.recipe .recipeHeroSec .herosecHeading .startingH1tag{
    color: #C29C3C;
}
.recipe .recipeHeroSec .herosecHeading button{
    /* width: 100px; */
    color: white;
    font-size: 19px;
    font-weight: 400;
    padding: 10px;
    border: 2px solid #C29C3C;
    border-radius: 10px;
    background-color: #C29C3C;
    transition: all 0.3s ease;

    &:hover{
        background-color: white;
        color: #C29C3C;
    }

}

.recipe .recipeHeroSec .herosecHeading .herheadindClintShowcaseSec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-top: 10px;
}

.recipe .recipeHeroSec .herosecHeading .herheadindClintShowcaseSec .imgSecofClinte{
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding-top: 5px; */
}

.recipe .recipeHeroSec .herosecHeading .herheadindClintShowcaseSec .imgSecofClinte span{
    border: 2px solid rgb(245, 242, 242);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-image: url(../testimonial/testimonailImg11.jpeg); */
    background-size: cover;
    background-position: top center;
    position: absolute;
    
}

.recipe .recipeHeroSec .herosecHeading .herheadindClintShowcaseSec .imgSecofClinte span:nth-child(1){
    background-image: url(../testimonial/testimonailImg11.jpeg);
    left: 0px;
    /* border: 1px solid rgb(186, 7, 7); */
}
.recipe .recipeHeroSec .herosecHeading .herheadindClintShowcaseSec .imgSecofClinte span:nth-child(2){
    background-image: url(../testimonial/testimonailImg8.jpeg);
    left: 15px;
    border: 2px solid rgb(248, 250, 249);
}
.recipe .recipeHeroSec .herosecHeading .herheadindClintShowcaseSec .imgSecofClinte span:nth-child(3){
    background-image: url(../testimonial/testimonailImg2.jpeg);
    left: 30px;
}
.recipe .recipeHeroSec .herosecHeading .herheadindClintShowcaseSec .imgSecofClinte span:nth-child(4){
    background-image: url(../testimonial/testimonailImg1.jpeg);
    left: 45px;
    /* border: 2px solid #C29C3C; */
}

.recipe .recipeBody{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border-top: 1px solid white; */
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: 40px 0px;
    /* transform: translateY(-20px); */
    /* background-color: white; */
    /* box-shadow: 0px -5px 5px #030b085e; */
}

.recipe .recipeBody .catrgoryP{
    font-size: 19px;
    width: 90%;
    text-align: center;
    font-weight: 900;
    color: #C29C3C;
    width: 90%;
    /* padding-left: 20px; */
}

.recipe .recipeBody .categorySec{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.recipe .recipeBody .categorySec .categoryBtn{
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    /* background-color: #c29c3c27; */
    border: 1px solid #C29C3C;
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    color: white;
    padding: 10px;
    cursor: pointer;
    &:hover{
        /* background-color: #1A5C42; */
        /* color: #1A5C42; */
        box-shadow: inset  0px 0px 5px #C29C3C;
    }
}
.recipe .recipeBody .categorySec .categoryBtn.activeBtn{
    background-color: #C29C3C;
    color: white;
    box-shadow: none;
    border: 1px solid white;
}
.recipeBody .categorySec .categoryBtn div{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipe .recipeBody .slectedCategory{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 90%;
    font-size: 13px;
    color: rgb(65, 64, 64);
    margin-top: 15px;
}

.recipe .recipeBody .slectedCategory p{
    color: white;
}

.recipe .recipeBody .slectedCategory div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #C29C3C;
    /* background-color: white; */
    overflow: hidden;
    border-radius: 10px;
    gap: 10px;
}
.recipe .recipeBody .slectedCategory div span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C29C3C;
    color: white;
    font-size: 30px;
    padding: 10px;

}
.recipe .recipeBody .slectedCategory h3{
    color: #C29C3C;
    font-size: 20px;
    padding-right: 10px;
}

.recipe .recipeBody .recipeItemsSec{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    gap: 40px;
    row-gap: 80px;
    align-items: center;
    margin-top: 50px;
}

.recipe .recipeBody .recipeItemsSec .recipeItem{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3 ease;
    /* background-color: #c29c3c0f; */
    border: 1px solid #c29c3c94;
    position: relative;
    perspective: 1000px;
    &:hover{
        background-color: white;
        border: 1px solid #c29c3c;
        
    }

}


.recipe .recipeBody .recipeItemsSec .recipeItem .recipeItemCornerDot{
    background-color: #C29C3C;
    padding: 3px;
    /* border-radius: 50%; */
    /* margin: 10px; */
    position: absolute;
    transform: rotate(30deg);
}

.recipe .recipeBody .recipeItemsSec .recipeItem .recipeItemCornerDot:nth-child(1){
 top: -2px;
 left: -4px;
}
.recipe .recipeBody .recipeItemsSec .recipeItem .recipeItemCornerDot:nth-child(3){
 bottom: -4px;
 left: -3px;
}
.recipe .recipeBody .recipeItemsSec .recipeItem .recipeItemCornerDot:nth-child(2){
 top: -4px;
 right: -3px;
}
.recipe .recipeBody .recipeItemsSec .recipeItem .recipeItemCornerDot:nth-child(4){
 bottom: -4px;
 right: -4px;
}

.recipe .recipeBody .recipeItemsSec .recipeItem .itemImg{
    background-image: url(../../assets/productItemImg.png);
    width: 120px;
    width: 100%;
    aspect-ratio: 12/9;
    background-position: center;
    background-size: cover;
    box-sizing: content-box;
    transition: all 1s ease;
    position: relative;
    bottom: -50px;

}

.recipe .recipeBody .recipeItemsSec .recipeItem .itemImg::after {
    content: "";
    position: absolute;
    /* background-color: red; */
    width: 50%;
    height: 30%;
    left: 25%;
    bottom: 2px;
    transform: rotateX(85deg);
    transform-style: preserve-3d;
    border-radius: 50%;
    box-shadow: 0px 30px 10px black;
    
}


.recipeBody .recipeItemsSec .recipeItem .itemDetalSec{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 20px;
    position: relative;
    bottom: -50px;
    /* background-color: #b3830a3d; */
    /* padding: 0px 10px; */
}

.recipeBody .recipeItemsSec .recipeItem .itemDetalSec h4{
    font-size: 30px;
    color: white;
}
.recipeBody .recipeItemsSec:hover .recipeItem .itemDetalSec h4{
    color: #C29C3C;
}
.recipeItemsSec .recipeItem .itemDetalSec .itemReview{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 25px;
    
}

.recipeItemsSec .recipeItem .itemDetalSec .itemReview .iconDiv{
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.recipeItemsSec .recipeItem .itemDetalSec .itemReview .iconDiv span{
    color: rgb(135, 133, 133);
}



.recipeItemsSec .recipeItem .itemDetalSec .btnSec{
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    background-color: #0D0900;
    position: relative;
}

.recipeItemsSec .recipeItem:hover .itemDetalSec .btnSec::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 43%;
    top: 0px;
    background-color: white;
    
}


.recipeItem .itemDetalSec .btnSec button{
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size: 26px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    &:hover{
        color: black;
    }  
}

.recipeItem:hover .itemDetalSec .btnSec button{
    border: 1px solid #C29C3C;
    background-color: #C29C3C;
}


/* show full recipe  */

.recipe .ShowFulldetail{
    padding: 0px 30px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    background-color: rgb(0, 0, 0);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: none;
}

.recipeSec{
    /* pointer-events: none; */
    /* background-color: #F5F2EC; */
    /* background-color: aqua; */
    /* width: 90%; */
    height: 90%;
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: scroll;

}

.recipeSec .recipeDetails{
    /* background-color: black; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 10PX;
    /* margin: 100px 0px; */
    gap: 10px;
    border-radius: 10px;
    width: 80%;
    border: 1px solid #C29C3C;
    color: white;
    padding: 20px;
    /* box-shadow: inset 0px 0px 10px white; */
    
}

.recipeSec .recipeDetails .detailSectionRightSide{
    /* background-color: aqua; */
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.recipeSec .recipeDetails .detailSectionRightSide h2{
    width: 90%;
    font-size: 30px;
    color: #C29C3C;
    font-weight: 100;
}

.detailSectionLeftSide{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.detailSectionLeftSide .leftSideMainImg{
    width: 100%;
    aspect-ratio: 9/9;
    background-image: url(../../assets/productItemImg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 2px solid #C29C3C;
    box-shadow: inset 0px 0px 10px #C29C3C;
    /* background-color: #C29C3C; */
    
}

.detailSectionLeftSide .leftSideImgOptions{
    width: fit-content;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.detailSectionLeftSide .leftSideImgOptions span{
    width: 50px;
    aspect-ratio: 9/9;
    background-image: url(../../assets/fiveDivImg1.jpg);
    background-size: cover;
    background-position: center;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    &:hover{
        border: 1px solid #C29C3C;
        box-shadow:inset 0px 0px 5px black;
    }
}

.recipeSec .recipeDetails .detailSectionRightSide .rightSideRating{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    color: rgb(255, 196, 0);
}

.recipeSec .recipeDetails .detailSectionRightSide .rightSideRating span{
    color: rgb(255, 196, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.recipeSec .recipeDetails .detailSectionRightSide .rightSidePrice{
    display: flex;
    align-items: center;
    gap: 05px;
    font-size: 17px;
    /* color: rgb(106, 105, 105); */
}

.recipeSec .recipeDetails .detailSectionRightSide .rightSidePrice span{
    display: flex;
    color: white;
    font-size: 23px;
    font-weight: 500;
}


.recipeSec .recipeDetails .detailSectionRightSide .rightSideSizeofItem{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 17px;
}

.recipeSec .recipeDetails .detailSectionRightSide .rightSideSizeofItem span{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 4px;
    background-color: rgb(239, 238, 238);
    border-radius: 5px;
    color: black;
}


.recipeSec .recipeDetails .detailSectionRightSide .rightSideMainP{
    width: 100%;
    font-size: 20px;
    color: rgb(98, 98, 98);
}

.recipeSec .recipeDetails .detailSectionRightSide .MobileViewImg{
    width: 100%;
    aspect-ratio: 9/9;
    background-image: url(../../assets/productItemImg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 2px solid #c29c3c6e;
    box-shadow:inset 0px 0px 20px #C29C3C;
    /* background-color: white; */
    display: none;
}

.recipeSec .recipeDetails .detailSectionRightSide .rightSideFeatures{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.recipeSec .recipeDetails .detailSectionRightSide .rightSideFeatures div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border: 1px solid #c29c3cd6;
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    font-weight: 900;
    width: 100px;
    color: black;
    background-color: white;
}

.recipeSec .recipeDetails .detailSectionRightSide .rightSideFeatures div span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #C29C3C;
}






.recipe .showFullRecipePage{
    display: flex;
}
@media (max-width:1000px) and (min-width:768px){
    .recipe .recipeBody .recipeItemsSec{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:768px){
    .recipe .recipeBody .recipeItemsSec{
        grid-template-columns: 1fr;
        width: 90%;
        padding: 10px;
    }

    .recipeSec{
        width: 100%;
        overflow: scroll;
        justify-content: start;
        align-items: start;
        /* background-color: #1A5C42; */
        /* padding: 20px; */
        scrollbar-width: none;
        border: 1px solid #C29C3C;
    }
    .recipeSec .recipeDetails{
        /* background-color: #1A5C42; */
        /* padding: 20px; */
        padding-bottom: 20px;
        width: 100%;
        border: none;
    }


.recipeSec .recipeDetails .detailSectionRightSide{
    width: 100%;
}

.recipeSec .recipeDetails .detailSectionLeftSide {
    width: 0px;
}
.recipeSec .recipeDetails .detailSectionLeftSide .leftSideMainImg{
    display: none;
}
.recipeSec .recipeDetails .detailSectionRightSide .MobileViewImg{
    display: flex;
}
    
    .recipemain{
        flex-direction: column;
    }
    .brP{
        width: 95%;
    }
    .recipemain .RecipeIngredients, .recipemain .recipeSteps{
        width: 100%;
    }
}