.homePage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.homePage h1{
    font-size: 35px;
    color: #C29C3C;
    text-align: center;
    width: 90%;
}

.homePage .headingP{
    font-size: 20px;
    color: rgb(160, 158, 158);
    text-align: center;
    width: 80%;
}

.homePage .hoemPageHeroSec{
    width: 100%;
    /* background-color: rgba(220, 9, 9, 0.989); */
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-areas: "heroLeftItem heroRightItem"
                         "heroFooter heroFooter";
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* padding-top: 70px; */
    position: relative;
    
}
.heroP{
    color: rgb(111, 109, 109);
}

.homePage .hoemPageHeroSec .HeroBottomSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: heroFooter;
    /* background-color: #8c1fd4; */
    
}
 .exploreFotter{
    width: 100%;
    background-color: #251d09;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border: 1px solid #c29c3c60;
    border-radius: 10px;
    padding: 20px;
}

 .exploreFotter .explorefotterItem{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: rgb(190, 189, 189);
    gap: 10px;
}
 .exploreFotter .exploreFotterLine{
    border-left: 1px solid #C29C3C;
    height: 70px;
    margin: 0px 10px;
}
 .exploreFotter .explorefotterItem div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}
 .exploreFotter .explorefotterItem h5{
    font-size: 12px;
    color: #C29C3C;
}

 .exploreFotter .explorefotterItem span{
    display: flex;
    font-size: 25px;
    border: 1px solid #c29c3c2e;
    padding: 10px;
    border-radius: 10px;
    color: #C29C3C;
    filter: drop-shadow(inset 0px 0px 5px #C29C3C);
    background-color: #c29c3c11;
    
}




.homePage .hoemPageHeroSec .heroSectionRightSide{
    width: 80%;
    aspect-ratio: 12/12;
    background-image: url(../../assets/homepageherorightsideImg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 0px 0px 10px #C29C3C; */
    filter: drop-shadow(0px 10px 2px black);
    grid-area: heroRightItem;
}

.homePage .hoemPageHeroSec .heroSectionLeftSide{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 25px;
    padding: 20px;
    color: white;
    font-size: 17px;
    grid-area: heroLeftItem;
    /* background-color: rgba(255, 255, 255, 0.081);
    border-right: 2px solid rgba(255, 255, 255, 0.293);
    box-shadow: inset 0px 0px 20px rgba(255, 255, 255, 0.381);
    backdrop-filter: blur(4px); */
}

.hoemPageHeroSec .heroSectionLeftSide .headingP{
    color: gold;
    font-size: 13px;
    font-weight: 100;
    text-shadow: 0px 0px 1px black;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.hoemPageHeroSec .heroSectionLeftSide .headingP span{
    display: flex;
}

.hoemPageHeroSec .heroSectionLeftSide .headingDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* font-size: clamp(4rem, 12vw, 14rem); */
}

.hoemPageHeroSec .heroSectionLeftSide  h1{
    width: 80%;
    text-align: start;
    /* font-size: clamp(2rem, 5vw, 10rem); */
    font-size: 2rem;
    background: linear-gradient(to left, white, #fab300);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip:text;
    /* color: transparent; */
}

.hoemPageHeroSec .heroSectionLeftSide  h1 span{
    background: none;
    -webkit-text-fill-color: white;
    color: white;
}
.herosecH1Underline{
    border-bottom: 1px solid #c29c3cb3;
    width: 30%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: end;
    color: #C29C3C;
}
.herosecH1Underline span:nth-child(1){
    font-size: 20px;
    background-color: black;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10px);
    padding: 0px 10px;
    margin-left: 20px;
    
}
.herosecH1Underline span:nth-child(2), .herosecH1Underline span:nth-child(3){
    font-size: 10px;
    /* background-color: rgb(223, 12, 12); */
    display: flex;
    justify-content: center;
    align-items: end;
    transform: translateY(2px);
    padding: 0px;
}

.hoemPageHeroSec .heroSectionLeftSide .heroBtnSec{
    /* width: 80%; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.hoemPageHeroSec .heroSectionLeftSide .heroBtnSec button{
    font-size: 15px;
    font-weight: 200;
    /* padding: 10px; */
    border: 1px solid #C29C3C;
    color: rgb(252, 251, 251);
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
    overflow: hidden;
    width: 170px;
    padding-right: 20px;

    &:hover{
        border: 1px solid #C29C3C;
        color: #C29C3C;
    }
}

.hoemPageHeroSec .heroSectionLeftSide .heroBtnSec button span{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c29c3c;
    color: white;
    padding: 10px;
}

.hoemPageHeroSec .heroSectionLeftSide .heroBtnSec button:nth-child(1){
    /* background-color: #C29C3C; */
    border: 1px solid white;
    color: #C29C3C;
    box-shadow: none;
    width: 210px;
    padding-right: 10px;
    &:hover{
        color: white;
    }
}

.hoemPageHeroSec .heroSectionLeftSide .heroBtnSec button:nth-child(1) span{
    background-color: white;
    color: #C29C3C;

}
.heroSectionLeftSide .herheadindClintShowcaseSec{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 10px;
}
.heroSectionLeftSide .herheadindClintShowcaseSec .imgSecofClinte{
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding-top: 5px; */
}
.heroSectionLeftSide .herheadindClintShowcaseSec .imgSecofClinte span{
    border: 2px solid rgb(245, 242, 242);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* background-image: url(../testimonial/testimonailImg11.jpeg); */
    background-size: cover;
    background-position: top center;
    position: absolute;
    
}
.heroSectionLeftSide .herheadindClintShowcaseSec .imgSecofClinte span:nth-child(1){
    background-image: url(../testimonial/testimonailImg11.jpeg);
    left: 0px;
    /* border: 1px solid rgb(186, 7, 7); */
}
.heroSectionLeftSide .herheadindClintShowcaseSec .imgSecofClinte span:nth-child(2){
    background-image: url(../testimonial/testimonailImg8.jpeg);
    left: 15px;
    border: 2px solid rgb(248, 250, 249);
}
.heroSectionLeftSide .herheadindClintShowcaseSec .imgSecofClinte span:nth-child(3){
    background-image: url(../testimonial/testimonailImg2.jpeg);
    left: 30px;
}
.heroSectionLeftSide .herheadindClintShowcaseSec .imgSecofClinte span:nth-child(4){
    background-image: url(../testimonial/testimonailImg1.jpeg);
    left: 45px;
}
.heroSectionLeftSide .herheadindClintShowcaseSec .imgSecofClinte span:nth-child(5){
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 60px;
    color: black;
    background-color: #C29C3C;
    border: none;
    width: 32px;
    height: 32px;
}

.homePage .homePageFiveSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    gap: 20px;
}

.homePage .homePageFiveSection .fiveStartingP{
    text-align: center;
    width: 80%;
}

.fiveImgSection{
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "item1 item1 item2 item2 item3 item3 "
        "item4 item4 item4 item5  item5 item5";
    padding: 10px;
    gap: 10px;
}

.fiveImgSectionItem{
    border: 1px solid #c29c3c;
    /* grid-area: item1; */
    /* padding: 10px; */
    border-radius: 10px;
    /* background-image: url(../../assets/fiveDivImg2.jpg); */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /* aspect-ratio: 4/3; */
    min-height: 250px;
    display: flex;
    justify-content: end;
    align-items: end;
    overflow: hidden;

}

.fiveItemContentSec{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.457);
    backdrop-filter: blur(3px);
    padding: 10px;
}

.fiveItemContentSec .fiveFirstIcon{
    border: 1px solid #C29C3C;
    border-radius: 50%;
    font-size: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #C29C3C;
    transform: translateY(200%);
    transition: all 1s ease;
    /* opacity: 0s; */
}

.fiveImgSectionItem:hover .fiveItemContentSec .fiveFirstIcon{
    transform: translateX(0px);
    transition: all 1s ease;
}

.fiveItemContentSec  .fiveItemTextSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    gap: 3px;
    transform: translateY(50%);
    transition: all 1s ease;
}
.fiveImgSectionItem:hover .fiveItemContentSec  .fiveItemTextSection{
    transform: translateY(0px);
    /* transition: all 1s ease; */
}
.fiveItemContentSec  .fiveItemTextSection p{
    font-size: 10px;
    color: #C29C3C;
    text-align: center;
    
}

.fiveItemContentSec .fiveLastIcon{
    border: 1px solid #C29C3C;
    border-radius: 50%;
    font-size: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    color: #f3ae02;
    transform: rotate(-90deg);
    transition: all 1s ease;
    /* opacity: 0s; */
    /* aspect-ratio: 12/12; */
}

.fiveImgSectionItem:hover .fiveItemContentSec .fiveLastIcon{
    /* transform: translateX(0px); */
    transform: rotate(0deg);
    transition: all 0.9s ease;
}
.homePage .fiveImgSectionItem:nth-child(1){
 grid-area: item1;
 background-image: url(../../assets/fiveDivImg1.jpg);
}
.homePage  .fiveImgSectionItem:nth-child(2){
 grid-area: item2;
 background-image: url(../../assets/fiveDivImg2.jpg);
}
.homePage  .fiveImgSectionItem:nth-child(3){
 grid-area: item3;
 background-image: url(../../assets/fiveDivImg3.jpeg);
}
.homePage  .fiveImgSectionItem:nth-child(4){
 grid-area: item4;
 /* aspect-ratio: none; */
 /* height: 100%; */
 background-image: url(../../assets/fiveDivImg4.jpeg);
}
.homePage  .fiveImgSectionItem:nth-child(5){
 grid-area: item5;
 background-image: url(../../assets/fiveDiveImg5.webp);
}


.homePage .homeValleys{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.homePage .homeValleys .valleySection{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.homePage .homeValleys .valleySection .vallaySectionLeft{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.homePage .homeValleys .valleySection .vallaySectionLeft p{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.165);
    color: #C29C3C;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        /* background-color: #C29C3C; */
        /* color: white; */
        border: 1px solid #C29C3C;
        box-shadow: inset 0px 0px 10px #C29C3C;
    }

}
.homePage .homeValleys .valleySection .vallaySectionLeft p.active{
    background-color: white;
    /* color: white; */
}
.homePage .homeValleys .valleySection .vallaySectionRight{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.homePage .homeValleys .valleySection .vallaySectionRight .vallayDetailSection{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    color: rgb(147, 146, 146);
    font-size: 17px;
}
.homePage .homeValleys .valleySection .vallaySectionRight .vallayDetailSection h6{
    color: #C29C3C;
    font-size: 13px;
    font-weight: 100;
}
.homePage .homeValleys .valleySection .vallaySectionRight .vallayDetailSection h3{
    color: white;
    font-size: 25px;
}

.homePage .homeValleys .valleySection .vallaySectionRight .vallayDetailSection .vallayDetailSectionBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C29C3C;
    color: white;
    font-size: 18px;
    padding-right: 10px;
    gap: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
    overflow: hidden;
    &:hover{
        /* background-color: #C29C3C; */
        color: #C29C3C;
    }
}

.homePage .homeValleys .valleySection .vallaySectionRight .vallayDetailSection .vallayDetailSectionBtn span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C29C3C;
    font-size: 25px;
    font-weight: 900;
    padding: 10px;
    border-right: 2px solid #C29C3C;
}

.homePage .homeValleys .valleySection .VallaySectionMobileBtn{
    display: none;
}

.vallaySetionRightImg{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #C29C3C;
    box-shadow: inset 0px 0px 100px #C29C3C;
    border-radius: 10px;
    /* padding: 10px; */
    overflow: hidden;
}

.vallaySetionRightImg div{
    width: 100%;
    aspect-ratio: 12/9;
    background-image: url(../../assets/vallayimg1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.homePage .globelMap{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}

.homePage .globelMap .globelMapImgSec{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 15/7;
    background-image: url(../../assets/globelMapImg.png);
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0px 0px 5px rgb(229, 175, 83));    
}


.homePage .homeProductShowcase{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.homePage .homeProductShowcase .showcaseOItemSec{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;

}

.homePage .homeProductShowcase .showcaseOItemSec .showcaseLeftSec{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    font-size: 17px;
    color: rgb(160, 159, 159);
}

.homePage .homeProductShowcase .showcaseOItemSec .showcaseLeftSec h4{
    color: #C29C3C;
    font-size: 20px;
}


.showcaseOItemSec .showcaseLeftSec .showcaseLeftSecDiv{
    margin-top: 30px;
}
.showcaseOItemSec .showcaseLeftSec .showcaseLeftSecDiv h5{
    /* max-width: 90%; */
    /* border: 1px solid #c29c3c5d; */
    border-left: 3px solid #c29c3c61;
    padding: 10px;
    padding-right: 0px;
    font-size: 17px;
    font-weight: 100;
    /* margin-top: 1px; */
    color: rgb(129, 128, 128);
    transition: all 0.3s ease;

    &:hover{
        /* border: 1px solid #c29c3c7d; */
        border-left: 3px solid #c29c3c6d;
        color: #c29c3c6d;
    }
}


.showcaseOItemSec .showcaseLeftSec .showcaseLeftSecDiv h5.active{
    border-left: 3px solid #C29C3C;
        color: #C29C3C;
}

.homePage .homeProductShowcase .showcaseOItemSec .showcaseRightSec{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
}

.homePage .homeProductShowcase .showcaseOItemSec .showcaseRightSec .showcaseRightSecImg{
    width: 100%;
    aspect-ratio: 12/8;
    /* background-image: url(../../assets/heroImg1.jpeg); */
    background-position:top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.homePage .homeProductShowcase .showcaseOItemSec .showcaseRightSec h3{
    color: black;
    font-size: 20px;
    width: 90%;

}

.showcaseOItemSec .showcaseRightSec .startingP{
    color: rgb(119, 117, 117);
    width: 90%;
}

.showcaseOItemSec .showcaseRightSec .showcaseRifhtSecBottom{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #c29c3c82;
    padding: 10px;
    color: rgb(74, 73, 73);
    font-size: 15px;
}

.showcaseOItemSec .showcaseRightSec .showcaseRifhtSecBottom span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.showcaseOItemSec .showcaseRightSec .showcaseRifhtSecBottom span h6{
    color: #C29C3C;
    font-size: 16px;
}


@media (max-width:768px){
    .homePage .hoemPageHeroSec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .homePage .hoemPageHeroSec .heroSectionLeftSide{
        width: 95%;
        justify-content: center;
        align-items: start;
    }

    .homePage .hoemPageHeroSec .heroSectionLeftSide p{
        text-align: start;
    }
    .homePage .hoemPageHeroSec .heroSectionLeftSide h1{
        /* text-align: center; */
        width: 100%;
    }

.hoemPageHeroSec .heroSectionLeftSide .heroBtnSec button:nth-child(1){
    width: auto;
    background-color: #C29C3C;
    color: black;
    border: #C29C3C;
}
.hoemPageHeroSec .heroSectionLeftSide .heroBtnSec button span{
    display: none;
}
.hoemPageHeroSec .heroSectionLeftSide .heroBtnSec button{
    width: auto;
    padding: 10px;
    font-weight: 500;
}

.homePage .hoemPageHeroSec .heroSectionRightSide{
    width: 90%;
}

    .fiveImgSection{
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
        "item1" "item2"
        "item3" "item4"
        "item5";
    
    }


    .homePage .homeValleys .valleySection .vallaySectionRight{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .explorCollection .exploreFotter{
    width: 100%;
    box-shadow: none;
    border-top: 1px solid #8D1FD4;
    border-radius: 0px;
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 25px;
}
.explorefotterItem{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #8D1FD4; */
}
.explorefotterItem div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: white; */
}
.explorefotterItem div h5{
    width: 100%;
}

.explorefotterItem div p{
    display: none;
}
    
    .homePage .homeValleys .valleySection .vallaySectionRight .vallayDetailSection{
    width: 90%;
    justify-content: center;
    /* align-items: center; */
    text-align: start;
    }

    .homePage .homeValleys .valleySection .vallaySectionRight .vallaySetionRightImg{
        width: 90%;
    }


    .homePage .homeValleys .valleySection .vallaySectionRight .vallayDetailSection .vallayDetailSectionBtn{
    display: none;
    }
    .mobileModeBtnSection{
        width: 90%;
        display: flex;
        align-items: center;
    }
    .homePage .homeValleys .valleySection .VallaySectionMobileBtn{
    display: flex;
    }

    .homePage .homeProductShowcase .showcaseOItemSec{
        flex-direction: column;
    }
    .homePage .homeProductShowcase .showcaseOItemSec .showcaseRightSec{
        width: 90%;
    }

    .homePage .homeProductShowcase .showcaseOItemSec .showcaseLeftSec{
        width: 90%;
    }

}